.catalog__wrapper {
  padding-left: 30px;
}

.catalog__list {
  @include reset-list;
}

.catalog__item {
  border: 1px solid #f0f0f0;
}

.catalog__description {
  padding: 28px;
}

.catalog__title {
  line-height: 24px;
}

.catalog__image {
  background-color: #f1f1f1;
  width: 260px;
  height: 195px;
}

.catalog__details,
.catalog__price {
  @include reset-text;
}

.catalog__details {
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #f0f0f0;
}

.catalog__pay {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  width: 74px;
}

.catalog__cart-add {
  margin-left: 110px;
}

@media (min-width: $tablet-width) {
  .catalog {
    min-width: $tablet-width;
  }

  .catalog__wrapper {
    padding-left: 50px;
  }

  .catalog__item {
    margin-bottom: 40px;
  }

  .catalog__item--wrapper {
    display: flex;
  }

  .catalog__image {
    width: 334px;
    height: 334px;
  }

  .catalog__description {
    display: flex;
    flex-direction: column;
    width: 334px;
  }

  .catalog__price {
    margin-top: 133px;
  }

  .catalog__cart-add {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    min-width: $desktop-width;
  }

  .catalog__wrapper {
    padding-left: 49px;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .catalog__item--wrapper {
    flex-direction: column;
  }

  .catalog__image {
    width: 316px;
    height: 462px;
  }

  .catalog__description {
    width: 316px;
  }

  .catalog__price {
    margin-top: 66px;
  }
}
