.category-list {
  @include reset-list;
}

.category-list__item {
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
}

.category-list__link {
  &--interior {
    background-color: $tiffany-light;
  }

  &--toys {
    background-color: $tiffany-dark;
  }
}
