.site-list {
  @include reset-list;
  line-height: 24px;
}

.site-list__item--active,
.site-list__item:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-list__item:hover {
  color: rgba(0, 0, 0, 0.6);
}
