html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #000000;
  background-color: #ffffff;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
}
